body {
  background-color: black;
}

div {
  outline: solid;
}

.wall {
  outline-width: thick;
  display: flex;
  flex-direction: row;
  height: 97vh;
  background-color: white;
}

.vertical-section-containers {
  display: flex;
  flex-direction: column;
}

.section-container-dividers {
  height: 100%;
  width: 1%;
  background-color: black;
}

#left-container {
  width: 19%;
}

#middle-container {
  width: 60%;
  background-image: url(assets/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: flex-end;
}

#right-container {
  width: 19%;
}

#weather-container {
  height: 35%;
}

.weather-rows {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#top-weather-row {
  height: 60%;
}

#bottom-weather-row {
  height: 40%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weather-element {
  height: 100%;
}

.weather-hours {
  width: 15%;
  height: 40%;
  text-align: center;
  justify-content: space-around;
}

#element-1 {
  width: 60%;
}

#element-2 {
  width: 40%;
}

.weather-day-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
}

.current-weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60%;
}

#weather-desc {
  height: 40%;
}

.current-weather img {
  width: 50%;
  max-height: 100%;
}

.weather-day-rows img {
  height: 100%;
  max-width: 40%;
}

.weather-hours img {
  max-height: 60%;
}

.current-weather h1 {
  font-size: 4vh;
  margin: 0;
}

.weather-day-rows h2 {
  font-size: 1.5vh;
}

.current-weather h3 {
  font-size: 0.7vmax;
}

.weather-hours h4 {
  margin: 0;
  font-size: 0.7vmax;
}

.current-weather div {
  width: 50%;
}

#current-weather-id {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}

#time-container {
  height: 15%;
}

#news-container {
  height: 50%;
}

#search-bar-container {
  height: 15%;
  background-color: white;
}

#shortcut-rows-container {
  height: 50%;
  background-color: white;
  margin-bottom: 12%;
}

.shortcut-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.shortcut {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 20%;
  height: 80%;
}

.shortcut-images {
  max-width: 100%;
  height: 80%;
}

.shortcut-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 20%;
}

.shortcut-text {
  font-size: 1.2vmax;
  outline: solid;
  width: 80%;
  text-align: center;
}

.edit-shortcut {
  width: 12%;
}

#google-services-container {
  height: 45%;
}

#textbox-container {
  height: 45%;
  background-color: rgb(50, 50, 50);
}

#dash-links-container {
  height: 10%;
}

#textbox {
  margin: 5%;
  width: 88%;
  height: 90%
}
