body {
  background-image: url(assets/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

div {
  //outline: solid;
}

.wall {
  outline-width: thick;
  display: flex;
  flex-direction: row;
  height: 98vh;
}

.vertical-section-containers {
  display: flex;
  flex-direction: column;
  outline: solid;
}

.section-container-dividers {
  height: 100%;
  width: 1%;
  background-color: black;
}

#left-container {
  width: 20%;
}

#middle-container {
  width: 60%;
  justify-content: flex-end;
  outline: none;
}

#right-container {
  width: 20%;
  background-color: white;
}

.widget {
  background-position: center;
}

/* Weather Widget */

#weather-container {
  height: 35%;
  background-image: url(assets/weather-background-image.jpg);
}

.weather-readability {
  background-color: rgba(230, 230, 230, 0.6);
  width: 100%;
  height: 101%;
}

.weather-rows {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#top-weather-row {
  height: 60%;
  margin-top: -1%;
}

#bottom-weather-row {
  height: 37%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weather-element {
  height: 100%;
}

.weather-hours {
  width: 15%;
  height: 40%;
  text-align: center;
  justify-content: space-around;
}

#element-1 {
  width: 60%;
  margin-left: 2%;
}

#element-2 {
  width: 40%;
  margin-top: 2%;
}

.weather-day-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
}

.current-weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60%;
}

#weather-info {
  height: 40%;
}

.current-weather img {
  width: 50%;
  max-height: 100%;
}

.weather-day-rows img {
  height: 100%;
  max-width: 40%;
}

.weather-hours img {
  max-height: 60%;
}

.current-weather h1 {
  font-size: 4vh;
  margin: 0;
}

.weather-day-rows h2 {
  font-size: 1.5vh;
}

.current-weather h3 {
  font-size: 0.7vmax;
}

.weather-hours h4 {
  margin: 0;
  font-size: 0.7vmax;
}

.weather-hours h5 {
  margin: 0;
}

.current-weather div {
  width: 50%;
}

#current-weather-id {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}

/* Time Widget */

#time-container {
  background-image: url(assets/time-background-image.png);
  height: 15%;
}

.time-readability {
  background-color: rgba(50, 50, 50, 0.7);
  width: 100%;
  height: 100%;
  color: white;
}

#time {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmax;
}

#timeZone {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timeZoneInput {
  padding: 1.5%;
  font-size: 0.6vmax;
}

#timeBtn {
  margin-right: 5%;
  height: 95%;
  width: height;
}

/* News Widget */

#news-container {
  height: 50%;
  background-color: rgb(192, 40, 40);
}

#news-container h1 {
  font-size: 0.95vmax;
  color: white;
}

#news-container h2 {
  font-size: 0.55vmax;
  background-color: white;
  outline: solid;
}

#search-bar-container {
  height: 15%;
}

/* Shortcuts */

#shortcut-rows-container {
  height: 50%;
  margin-bottom: 12%;
}

.shortcut-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.shortcut {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 20%;
  height: 80%;
}

.shortcut-images {
  max-width: 100%;
  height: 80%;
}

.shortcut-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 20%;
}

.shortcut-text {
  font-size: 1.2vmax;
  outline: solid;
  width: 80%;
  text-align: center;
}

.edit-shortcut {
  width: 12%;
}

/* Google Services Widget */

#google-services-container {
  height: 30%;
}

#something-container {
  height: 45%;
}

/* Textbox Widget */

#textbox-container {
  height: 20%;
  background-color: rgb(50, 50, 50);
  text-align: center;
}

#textbox {
  width: 90%;
  height: 82%;
  padding: 2%;
  margin: 2%;
  font-size: 0.7vmax;
}

/* Dashboard Backend Links */

#dash-links-container {
  height: 5%;
}
